* {
    /* Balanced */
    color: #e27d60;
    color: #85dcba;
    color: #e8a87c;
    color: #c38d9e;
    color: #41b3a3;
    /* Bright Accent */
    color: #242582;
    color: #543d67;
    color: #f64c72;
    color: #99738e;
    color: #2f2fa2;
    /* Natural and Earthy */
    color: #8d8741;
    color: #659dbd;
    color: #daad86;
    color: #bc986a;
    color: #fbeec1;
    /* Cool and Fresh */
    color: #05386b;
    color: #379683;
    color: #5cdb95;
    color: #8ee4af;
    color: #edf5e1;
    /* Audacious and Vibrant */
    color: #fc4445;
    color: #3feee6;
    color: #ccb559;
    color: #cafafe;
    color: #97caef;
    /* Russian Green */
    color: #8ee4af;
    color: #edf5e1;
    color: #5cdb95;
    color: #907163;
    color: #379683;
    /* Stylish and Sophisticated */
    color: #5d5c61;
    color: #379683;
    color: #7395ae;
    color: #557a95;
    color: #b1a296;
    /* Purple Tints and Tones */
    color: #2e1114;
    color: #501b1d;
    color: #64485c;
    color: #83677b;
    color: #adadad;
    /* Deep Purples and Blues */
    color: #0c0032;
    color: #190061;
    color: #240090;
    color: #3500d3;
    color: #282828;
    /* Contemporary and Bold */
    color: #1a1a1d;
    color: #4e4e50;
    color: #6f2232;
    color: #950740;
    color: #c3073f;
    /*  Lively and Inviting */
    color: #e7717d;
    color: #c2cad0;
    color: #c2b9b0;
    color: #7e685a;
    color: #afd275;
    /* Striking and Simple */
    color: #0b0c10;
    color: #1f2833;
    color: #c5c6c7;
    color: #66fcf1;
    color: #45a29e;
    /*  Red and Lively */
    color: #5d001e;
    color: #e3e2df;
    color: #e3afbc;
    color: #9a1750;
    color: #ee4c7c;
    /* Artsy and Creative */
    color: #d79922;
    color: #efe2ba;
    color: #f13c20;
    color: #4056a1;
    color: #c5cbe3;
    /* Sleek and Futuristic */
    color: #2c3531;
    color: #116466;
    color: #d9b08c;
    color: #ffcb9a;
    color: #d1e8e2;
    /* Innovative and Audacious */
    color: #272727;
    color: #747474;
    color: #ff652f;
    color: #ffe400;
    color: #14a76c;
    /* Texture and Dynamic */
    color: #2f4454;
    color: #2e151b;
    color: #da7b93;
    color: #376e6f;
    color: #1c3334;
    /* Vivid and Sharp */
    color: #d83f87;
    color: #2a1b3d;
    color: #44318d;
    color: #e98074;
    color: #a4b3b6;
    /* Clean and Energetic */
    color: #5680e9;
    color: #84ceeb;
    color: #5ab9ea;
    color: #c1c8ea;
    color: #8860d0;
}


/* Google Fonts */


/*
Lato
Abhaya Libre
Merriweather
Alegreya
Montserrat
Aleo
Muli
Arapey
*/