/* Google Fonts */


/* Lato */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> */


/* font-family: 'Lato', sans-serif; */


/* Tangerine */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet"> */


/* font-family: 'Tangerine', cursive; */


/* Sofia


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

font-family: 'Tangerine', cursive; */


/* Abhaya Libre */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine:wght@700&display=swap" rel="stylesheet"> */


/* font-family: 'Abhaya Libre', serif;
font-family: 'Tangerine', cursive; */


/* Rokkitt */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine:wght@700&display=swap" rel="stylesheet"> */


/* font-family: 'Abhaya Libre', serif;
font-family: 'Tangerine', cursive; */


/* PlayFair Display */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Playfair+Display:ital@1&family=Tangerine:wght@700&display=swap" rel="stylesheet"> */


/* font-family: 'Abhaya Libre', serif;
font-family: 'Playfair Display', serif;
font-family: 'Tangerine', cursive; */


/* Monteserrat */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Tangerine:wght@700&display=swap" rel="stylesheet"> */


/* font-family: 'Abhaya Libre', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tangerine', cursive; */


/* Ubuntu */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> */


/* font-family: 'Abhaya Libre', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tangerine', cursive;
font-family: 'Ubuntu', sans-serif; */


/* Dancing Script */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> */


/*
font-family: 'Dancing Script', cursive;
*/


/* RajDhani */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Rajdhani&family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">


font-family: 'Rajdhani', sans-serif;
 */


/* Cinzel */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cinzel:wght@500&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Rajdhani&family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

font-family: 'Cinzel', serif;
*/


/* Great Vibes */


/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cinzel:wght@500&family=Dancing+Script:wght@500&family=Great+Vibes&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Rajdhani&family=Tangerine:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">


font-family: 'Great Vibes', cursive;
*/